.importMap {
  height: 100%;
  padding: 0 0 16px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.importMap__empty {
  position: relative;
  margin: auto;
  font-size: 12px;
  white-space: pre-wrap;
  line-height: 140%;
  text-align: center;
  color: var(--figma-color-text-tertiary);
}
.importMap__row {
  display: flex;
}

.importMapNode {
  --importMapNode--width: 1px;

  position: relative;
  width: 24px;
  height: 24px;
  color: white;
  flex-shrink: 0;
}

.importMapNode::before,
.importMapNode::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 0;
  height: 0;
  background-color: var(--figma-color-bg-secondary);
  border: none;
}

/* type=horizontal */
.importMapNode[data-type="horizontal"]::before {
  margin: auto 0;
  width: 100%;
  height: var(--importMapNode--width);
}
.importMapNode[data-type="horizontal"]::after {
  content: none;
}

/* type=vertical */
.importMapNode[data-type="vertical"]::before {
  margin: 0 auto;
  width: var(--importMapNode--width);
  height: 100%;
}
.importMapNode[data-type="vertical"]::after {
  content: none;
}

/* type=junction */
.importMapNode[data-type="junction"]::before {
  margin: auto 0 auto auto;
  width: 50%;
  height: var(--importMapNode--width);
}
.importMapNode[data-type="junction"]::after {
  margin: 0 auto;
  width: var(--importMapNode--width);
  height: 100%;
}

/* type=corner */
.importMapNode[data-type="corner"]::before {
  margin: auto 0 auto auto;
  width: calc(50% + var(--importMapNode--width) / 2);
  height: var(--importMapNode--width);
}
.importMapNode[data-type="corner"]::after {
  margin: 0 auto;
  width: var(--importMapNode--width);
  height: calc(50% + var(--importMapNode--width) / 2);
}

/* type=space */
.importMapNode[data-type="space"]::before,
.importMapNode[data-type="space"]::after {
  content: none;
}

/* type=text */
.importMapNode[data-type="text"] {
  width: 100%;
  padding-left: 4px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.importMapNode__text {
  height: fit-content;
}
