.form__frame {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.form__label {
  font-size: 12px;
  line-height: 100%;
  white-space: nowrap;
  width: 100%;
}

.form__textField {
  appearance: none;
  background-color: var(--figma-color-bg);
  border: solid 1px var(--figma-color-border);
  color: var(--figma-color-text);
  display: block;
  padding: 8px;
  margin-top: 6px;
  width: 100%;
}

.form__textFieldMessage {
  color: var(--figma-color-text-danger);
}

.form__checkboxContainer {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 12px;
  padding: 4px 0;
}
.form__checkbox {
  all: revert;
  position: relative;
  width: 14px;
  height: 14px;
  border: solid 1px var(--figma-color-border);
  border-radius: 4px;
  margin: 0 4px 0 0;
  background-color: var(--figma-color-bg);
}
